<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org/">

<!--<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Unit4</title>
</head>-->
<head th:replace="fragments :: head"></head>
<body>
    <header>
        <div class="header">Unit 4</div>
    </header>
    
    <div class="content">
        <!--<div class="left">
        </div>-->
    
        <div class="main">
        	<h1>Unit 4 Prep Work</h1>
        	<ul>
        		<li><a href="/cheeses">ArrayList of Cheeses</a></li>
        		<li><a href="/addcheese">Form to Add Cheese</a></li>
        	</ul>
        	<hr />
        	<h1>Unit 4 Pre-Work Exercises</h1>
        	<ul>
        		<li><a href="/prep">Home Page for pre-work exercises.</a></li>
        	</ul>
        	
        	<hr />
        	<h1>Unit 4 Studio Work</h1>
        	<ul>
        		<li><a href="/unit4studio">Unit 4 Studio</a></li>
        	</ul>
        </div>
        
        <!--<div class="right">
        </div>-->
    </div>

    <footer>
        <div class="footer">&copy; Matthew Moore, 2019</div>
    </footer>
</body>
</html>