<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body>
    <header>
        <div class="header">Pre-Work</div>
    </header>
    
    <div class="content">
        <!--<div class="left">
        </div>-->
    
        <div class="main">
        	<h1>Unit 4 Pre-Work Exercises</h1>
        	<ul>
        		<li><a href="/prep">Home Page for pre-work exercises.</a></li>
        		<li><a href="/prep/animals">Animal HashMap</a></li>
        	</ul>
        </div>
        
        <!--<div class="right">
        </div>-->
    </div>

    <footer>
        <div class="footer">&copy; Matthew Moore, 2019</div>
    </footer>
</body>
</html>